<!DOCTYPE html>
<html>

  {% include 2016_data/head.html %}


    <body id="page-top" class="index">

    {% include 2018_data/header-home.html %}

    <!-- Header -->
    <header>
        <div class="container">
            <div class="intro-text">
                <div class="intro-heading">GDG DevFest Levante 2018<br></div>
                <div class="intro-lead-in">25 AGOSTO - 1 SETTEMBRE</div>
                <div class="intro-lead-in">Torre dell'Orso</div>
                <a href="#intro" class="page-scroll btn btn-xl">Scopri di più</a>
            </div>
        </div>
    </header>

    {% include 2018_data/intro_devfest.html %}
    {% include 2018_data/speakers.html %}
    {% include 2018_data/about.html %}
    {% include 2018_data/sponsors.html %}
    {% include 2018_data/book.html %}
    {% include 2018_data/footer.html %}
    {% include 2018_data/speakers_info.html %}
    {% include 2016_data/js.html %}

    </body>
</html>